name: Test and Lint

on:
  pull_request:

jobs:
  test-and-lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    env:
      SCOUT_LOGS_INGEST_KEY: test-ingest-key
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install poetry
          poetry install

      - name: Run linting
        run: |
          poetry run task lint

      - name: Run type checking
        run: |
          poetry run task mypy

      - name: Run tests with coverage
        run: |
          poetry run task test
